.seccion{
	margin-top: 30px;
	margin-bottom: 30px;
}
.thumb{
	margin-bottom: 50px;
}
.espacio{
    margin-bottom: 300px;
    padding-bottom: 20%;
}
.thumbmapa{
    margin-bottom: 20px;
}
.grid{
	margin-top: 50px;
	margin-bottom: 50px;
}
.lados{
    padding-left: 90px;
    padding-right: 90px;
}
.mar{
    margin-left: 90px;
    margin-right: 90px;
}
.bloque{
    display: block;
}
#navcolor{
    background-color: #5a2c59;
}
.fontmarca{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
}
.fontgral{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
footer{
    background-color: black;
    color: white;
}
.foottex{
    font-size: 0.7em;
    letter-spacing: 0.3px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-indicators .active{
    background-color: deeppink;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
}
.der{
    float: right;
}
p{
   font-family: 'Roboto', sans-serif; 
}
h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.8px;
}
.titindex{
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    letter-spacing: 0.8px;
}
.titulos{
    font-size: 3.5em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.titstore{
    font-size: 3.45em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.titstore:after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../imagenes/iconos/carrito.png") no-repeat;
    background-size: cover;
}
.italica{
    font-style: italic;
    letter-spacing: 0.8px;
    font-size: 1.2em;
}
body{
    background-image: url("../imagenes/fondo.jpg");
}
.card{
    border: none;
}
.zapas{
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;  
    text-align: center;
    margin-bottom: 30%;
}
.anterior{
    text-decoration-line: line-through;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0px;
}
.rebaja{
    font-size: 2.4em;
    color: #CA0300;
    text-align: center;
}
.sale{
    height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}
#icosale{
    height: 126px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}
.redes{
    width: 30px;
    height: 30px;
    filter: invert();
}
#icostore{
    width: 50px;
    height: 50px;
}
.producto{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;  
    display: inline-block;
    text-align: left;
}
.precio{
    font-size: 1.2em;
    display: inline-block;
    float: right;
    font-weight: bold;
    font-style: italic;
}
.anchocard{
    width: 350px;
}
#botonimagen{
    background-color: transparent;
    background-image: url("../imagenes/enviar.png");
    width: 130px;
    height: 41px;
    border: none;
    background-size: contain;
}

#botoncarrito{
    background-color: transparent;
    background-image: url("../imagenes/enviar.png");
    width: 130px;
    height: 41px;
    border: none;
    background-size: contain;
}

.colorform{
    background-color: #D1D1CF;
    width: 250px;
    font-family: 'Roboto', sans-serif;
}
.titcont{
    font-size: 3em;
    letter-spacing: 0.8px;
}
.titcont:before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../imagenes/iconos/phone.png") no-repeat;
    background-size: cover;
    margin-right: 15px;
}
.dire:before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../imagenes/iconos/pin.png") no-repeat;
    background-size: cover;
    margin-right: 10px; 
    vertical-align: bottom;
}
.hora:before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../imagenes/iconos/clock.png") no-repeat;
    background-size: cover;
    margin-right: 10px; 
    vertical-align: bottom;
}
.fechatarjeta{
    max-width: 73px;
}
.verde{
    color: #227335;
}